@import "tailwindcss";


@layer base {
  html, body {
    @apply text-gray-800 bg-white antialiased;
  }

  /* Không override màu link bằng tay */
  a {
    @apply text-inherit no-underline;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-bold text-gray-900;
  }

  button {
    @apply font-medium;
  }
}
