@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body {
    @apply text-gray-800 bg-white antialiased;
  }

  /* Không override màu link bằng tay */
  a {
    @apply text-inherit no-underline;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-bold text-gray-900;
  }

  button {
    @apply font-medium;
  }

  .btn-primary {
    @apply w-full h-[50px] 
           flex items-center justify-center 
           rounded-[1.5rem] 
           px-[0.85rem] py-[0.4rem] 
           text-[14px] font-medium text-white 
           bg-[#392C7D] border border-[#392C7D]
           transition-all duration-500 
           hover:bg-[#352776] hover:border-[#352776];
  }

  .btn-wishlist {
    @apply flex-1 inline-flex justify-center items-center gap-2 px-4 py-2 
           border border-gray-300 rounded-md 
           text-sm font-medium text-gray-700 bg-white
           hover:bg-rose-500 hover:text-white hover:border-rose-500
           transition-colors duration-200;
  }
}
